* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #ffffff;
    background-color: #000000;
    background-color: #44a75c;
    background-color: #35592e;
    background-color: #1e321a;
    background-color: #1e321a;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%2318161c' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;
font-family: 'Oswald', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul{list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}
/*Navigation*/
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand {
    width: 50px;
}
/* Navbar Left */
.nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 10px;
  } 

  .nav-main ul li a {
    padding: 2px;
  }


  .nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
  }

  .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
  }

  /*SHOCASE*/
  hr {
    margin: 10px 0;
  }
  .showcase {
    width: 100%;
    height: 550px;
    background: url(img/showcase2.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
  }

  .btn:hover {
    opacity: .7;
  }

  .showcase h2,
  .showcase p {
    margin-bottom: 10px;
  }
 /*NEW CARDS*/
 .news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin: 10px 0;
}

 .news-cards img {
  width: 100%;
  height: 100%;
 }

 .news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
 }
 
 .news-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
 }

 .news-cards a:hover {
  text-decoration: underline;
 }

/*cards-baneer-one*/
.cards-banner-one{
  width: 100%;
  height: 350%;
  background: url("./img/tech-red.jpg") repeat center center/cover;
  margin: 40%;
}

.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2{
  margin: 10px 0 20px 0;
}

.cards-banner-two{
  width: 100%;
  padding: 350px;
 background: url("./img/image-five.jpg") no-repeat center center/cover;
}

.cards-banner-two .content{
  width: 50%;
  padding: 100px 0 0 30;
}
